@import "./breakpoints.scss";
@import "./animations.scss";

$primary-color: #130f49;
$secondary-color: #55527c;
$accent-color: #34a1cd;
$subtitle-color: #b4b2c5;

$padding-default: 16px;
$padding-tablet: 24px;
$padding-desktop-m: 10%;
$padding-desktop-xl: 20%;

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Catamaran", sans-serif;
}

h1 {
  font-size: 4.8rem;
  font-weight: 700;
  color: $primary-color;
  span {
    color: $accent-color;
  }
  @include media(tablet) {
    font-size: 6.4rem;
  }
}

h2 {
  font-weight: 600;
  color: $subtitle-color;
}

h3 {
  font-size: 2.6rem;
  font-weight: 600;
  color: $primary-color;
}

p {
  font-size: 1.8rem;
  color: $subtitle-color;
}

a {
  font-size: 1.8rem;
  color: $primary-color;
  text-decoration: none;
}

a:hover {
  color: $primary-color;
  text-decoration: none;
}

button:focus {
  outline: none;
}

.btn-primary:not(:disabled):not(.disabled).active {
  padding: 19px 32px;
  border-radius: 12px;
  background-color: $primary-color;
  border-color: $primary-color;
  cursor: auto;
}

.background__container {
  background-image: url("../assets/images/background.svg");
  background-repeat: no-repeat;
  background-size: 320px;
  background-position: right;
  background-position-y: -10px;
  .navbar {
    padding: 12px $padding-default;
    @include media(tablet) {
      padding: 12px $padding-tablet;
    }
    @include media(desktop-m) {
      padding: 24px $padding-desktop-m 0;
    }
    @include media(desktop-xl) {
      padding: 24px $padding-desktop-xl 0;
    }
    .nav-link {
      color: $primary-color;
      @include media(desktop-s) {
        margin-right: 24px;
      }
    }
  }
  .navbar-toggler {
    padding: 10px 12px;
    font-size: 1.8rem;
    border-radius: 12px;
    background-color: #ffffff;
    border-color: $accent-color;
    .navbar-toggler-icon {
      background-image: url("../assets/images/navbar-toggler-icon.svg");
    }
  }
  .header-grid {
    padding: 0px $padding-default;
    @include media(tablet) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 36px $padding-tablet 0;
      height: 100%;
      margin-bottom: 64px;
    }
    @include media(desktop-s) {
      height: 100vh;
      margin-bottom: 0px;
    }
    @include media(desktop-m) {
      padding: 64px $padding-desktop-m 0;
    }
    @include media(desktop-xl) {
      padding: 84px $padding-desktop-xl 0;
    }
    header {
      display: flex;
      flex-direction: column;
      height: 100%;
      max-width: 630px;
      margin-bottom: 64px;
      @include media(tablet) {
        margin-bottom: 0px;
      }
      @include media(desktop-m) {
        padding: 0px;
      }
      p {
        margin-top: 14px;
        color: $secondary-color;
        @include media(desktop-s) {
          margin-top: 24px;
        }
      }
      h1 {
        font-size: 5.8rem;
        @include media(tablet) {
          font-size: 7rem;
        }
      }
      .icons__container {
        display: flex;
        i {
          margin: 24px 16px 14px 0px;
          font-size: 3.5rem;
          color: $primary-color;
        }
      }
      .invitation__container {
        display: flex;
        align-items: center;
        img {
          width: 25px;
          height: 25px;
          margin-right: 8px;
        }
        p {
          display: inline-block;
          margin: 0;
        }
      }
      .mouse__container {
        display: flex;
        align-items: center;
        margin-top: 20%;
        div {
          display: flex;
          flex-direction: column;
          .mouse {
            height: 42px;
            width: 24px;
            margin-bottom: 6px;
            transform: none;
            border-radius: 14px;
            border: 2px solid $subtitle-color;
            .wheel {
              display: block;
              position: relative;
              width: 4px;
              height: 4px;
              margin: 5px auto;
              border-radius: 8px;
              animation: mouse-wheel 1s linear infinite;
              background: $subtitle-color;
              border: 2px solid $subtitle-color;
            }
          }
          .arrow {
            display: block;
            width: 10px;
            height: 10px;
            margin: 5px 0 8px 8px;
            transform: rotate(45deg);
            animation: mouse-scroll 0.5s infinite;
            border-right: 1px solid $subtitle-color;
            border-bottom: 1px solid $subtitle-color;
          }
        }
        p {
          display: inline-block;
          margin: 0px 0px 24px 12px;
          color: $subtitle-color;
        }
      }
    }
    .profile-picture__container {
      max-width: 464px;
      margin: 64px auto 64px;
      @include media(tablet) {
        margin: 0 auto;
      }
      @include media(desktop-m) {
        display: flex;
        justify-self: right;
        max-width: 500px;
        max-height: 500px;
        margin: 0;
        padding: 0;
      }
      img {
        width: 100%;
        height: auto;
        border-radius: 50%;
      }
    }
  }
}

.my-skills__section {
  text-align: center;
  margin-bottom: 64px;
  padding: 86px $padding-default 0;
  @include media(tablet) {
    padding: 0px $padding-tablet;
  }
  @include media(desktop-m) {
    padding: 0px $padding-desktop-m;
  }
  @include media(desktop-xl) {
    padding: 0px $padding-desktop-xl;
  }
  h1 {
    margin-bottom: 54px;
  }
  .my-skills__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include media(tablet) {
      grid-template-columns: repeat(4, 1fr);
    }
    .my-skill__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 12px 36px 12px;
      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        margin-bottom: 16px;
        border-radius: 20px;
        @include media(desktop-s) {
          width: 100px;
          height: 100px;
        }
        img {
          width: 50%;
          height: auto;
        }
      }
      .html-icon {
        background-color: #ebc0c0;
      }

      .css-icon {
        background-color: #67c4e999;
      }

      .js-icon {
        background-color: #f8f7be;
      }

      .react-icon {
        background-color: #d3f1fd;
      }

      .redux-icon {
        background-color: #ba9cf285;
      }

      .sass-icon {
        background-color: #f4ddf8;
      }

      .bootstrap-icon {
        background-color: #e9d0fd;
      }

      .webpack-icon {
        background-color: #d3f1fd;
      }

      .git-icon {
        background-color: #ffc8c0;
      }

      .npm-icon {
        background-color: #ff08005e;
      }

      .tailwind-icon {
        background-color: #40dbe642;
      }

      .jest-icon {
        background-color: #f4dbd3;
      }
    }
  }
}

.background__container--square {
  padding: 0 0 42px 0;
  background-image: url("../assets/images/background-2.svg");
  background-size: 100%;
  background-position-x: -25vw;
  background-position-y: 70px;
  background-repeat: no-repeat;
  @include media(tablet) {
    background-position-y: 40px;
  }
  @include media(desktop-m) {
    background-position-x: -15vw;
    background-size: 80%;
  }
  .my-work__section {
    padding: 86px $padding-default 0;
    @include media(tablet) {
      padding: 86px $padding-tablet 0;
    }
    @include media(desktop-m) {
      padding: 86px $padding-desktop-m 0;
    }
    @include media(desktop-xl) {
      padding: 86px $padding-desktop-xl 0;
    }
  }
  .works__container {
    @media (min-width: 600px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    @include media(desktop-s) {
      grid-template-columns: repeat(3, 1fr);
    }
    .card {
      min-height: 340px;
      margin-top: 24px;
      border: none;
      transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
      overflow: hidden;
      border-radius: 20px;
      box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
      @media (min-width: 480px) {
        min-height: 400px;
      }
      @media (min-width: 600px) {
        min-height: 325px;
      }
      &.card-has-bg {
        transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
        background-size: 120%;
        background-repeat: no-repeat;
        background-position: center center;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: inherit;
          filter: grayscale(100%);
        }
        @include media(desktop-s) {
          &:hover {
            transform: scale(0.98);
            transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
            box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
            background-size: 130%;
            .card-img-overlay {
              transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
              background: rgb(35, 79, 109);
              background: linear-gradient(
                0deg,
                rgba(4, 69, 114, 0.5) 0%,
                rgba(4, 69, 114, 1) 100%
              );
            }
          }
        }
      }
      .card-footer {
        background: none;
        border-top: none;
        .media {
          img {
            width: 50px;
            height: 50px;
            background-color: white;
            border: solid 3px $primary-color;
          }
        }
      }
      .card-body {
        transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
      }
      @include media(desktop-s) {
        &:hover {
          .card-body {
            margin-top: 30px;
            transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
          }
          transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
        }
      }
      .card-img-overlay {
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
        background: rgb(35, 79, 109);
        background: linear-gradient(
          0deg,
          rgba(35, 79, 109, 0.3785889355742297) 0%,
          rgba(69, 95, 113, 1) 100%
        );
      }
    }
  }
}

.rest-countries-card {
  background-image: url("../assets/images/project-1.png");
}

.petgram-card {
  background-image: url("../assets/images/project-2.png");
}

.js-media-player-card {
  background-image: url("../assets/images/project-3.png");
}

.clipboard-card {
  background-image: url("../assets/images/project-4.png");
}

.batatabit-card {
  background-image: url("../assets/images/project-5.png");
}

.awards__section {
  text-align: center;
  padding: 86px $padding-default 0;
  @include media(tablet) {
    padding: 86px $padding-tablet 0;
  }
  @include media(desktop-m) {
    padding: 86px $padding-desktop-m 0;
  }
  @include media(desktop-xl) {
    padding: 86px $padding-desktop-xl 0;
  }
  div {
    margin-top: 46px;
    @include media(tablet) {
      display: flex;
      justify-content: space-around;
    }
    img {
      width: 100%;
      height: auto;
      margin-bottom: 24px;
      @include media(tablet) {
        width: 45%;
      }
    }
  }
}

footer {
  margin-top: 120px;
  background-color: #e9f9ff;
  .container {
    text-align: center;
    padding: 88px $padding-default 88px;
    h1 {
      font-size: 3.8rem;
    }
    h2 {
      margin-bottom: 12px;
      font-size: 1.6rem;
    }
    i {
      display: block;
      margin-top: 24px;
      font-size: 4rem;
      color: #f66565;
    }
    a {
      display: block;
      margin-top: 24px;
      font-weight: 600;
    }
    a:not(:nth-child(3)) {
      @include media(tablet) {
        display: inline-block;
        margin: 42px $padding-tablet;
      }
    }
  }
}
