@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;600;700&display=swap");

$primary-color: #130f49;
$secondary-color: #55527c;
$accent-color: #34a1cd;
$subtitle-color: #b4b2c5;

html {
  font-size: 62.5%;
}

body {
  font-family: "Catamaran", sans-serif;
}

header,
section {
  padding: 0 16px;
}

h1 {
  font-size: 4.8rem;
  font-weight: 700;
  color: $primary-color;
  span {
    color: $accent-color;
  }
}

h2 {
  font-weight: 600;
  color: $subtitle-color;
}

h3 {
  font-size: 2.6rem;
  font-weight: 600;
  color: $primary-color;
}

p {
  font-size: 1.8rem;
  color: $subtitle-color;
}

a {
  font-size: 1.8rem;
  color: $primary-color;
}

.background__container {
  padding: 0 0;
  background-image: url("../assets/images/background.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-position-y: -10px;
  header h1 {
    font-size: 5.8rem;
  }
}

.btn-primary:not(:disabled):not(.disabled).active {
  padding: 19px 32px;
  border-radius: 12px;
  background-color: $primary-color;
  border-color: $primary-color;
}

.profile-picture__container {
  padding: 46px 16px 0 16px;
  img {
    width: 100%;
    border-radius: 50%;
  }
}

.my-skills__section {
  padding-top: 86px;
  text-align: center;
  h1 {
    margin-bottom: 36px;
  }
  .my-skills__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .my-skill__card {
      text-align: left;
      margin: 0 12px 36px 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        margin-bottom: 16px;
        border-radius: 20px;
        img {
          width: 50%;
        }
      }
      .html-icon {
        background-color: #ebc0c0;
      }

      .css-icon {
        background-color: #d3f1fd;
      }

      .js-icon {
        background-color: #f8f7be;
      }

      .react-icon {
        background-color: #d3f1fd;
      }

      .sass-icon {
        background-color: #f4ddf8;
      }

      .bootstrap-icon {
        background-color: #e9d0fd;
      }

      .webpack-icon {
        background-color: #d3f1fd;
      }

      .git-icon {
        background-color: #ffc8c0;
      }

      .npm-icon {
        background-color: #ff08005e;
      }
    }
  }
}

.my-work__section {
  padding-top: 86px;
}
.card {
  margin-top: 24px;
  border: none;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
  border-radius: 20px;
  min-height: 450px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
  @media (max-width: 768px) {
    min-height: 350px;
  }

  @media (max-width: 420px) {
    min-height: 300px;
  }

  &.card-has-bg {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center center;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: inherit;
      -webkit-filter: grayscale(1);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(100%);
    }

    &:hover {
      transform: scale(0.98);
      box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
      background-size: 130%;
      transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);

      .card-img-overlay {
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
        background: rgb(35, 79, 109);
        background: linear-gradient(
          0deg,
          rgba(4, 69, 114, 0.5) 0%,
          rgba(4, 69, 114, 1) 100%
        );
      }
    }
  }
  .card-footer {
    background: none;
    border-top: none;
    .media {
      img {
        width: 50px;
        height: 50px;
        border: solid 3px $primary-color;
        background-color: white;
      }
    }
  }
  .card-meta {
    color: orange;
  }
  .card-body {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  &:hover {
    .card-body {
      margin-top: 30px;
      transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    }
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background: rgb(35, 79, 109);
    background: linear-gradient(
      0deg,
      rgba(35, 79, 109, 0.3785889355742297) 0%,
      rgba(69, 95, 113, 1) 100%
    );
  }
}

.rest-countries-card {
  background-image: url("../assets/images/project-1.jpg");
}

.petgram-card {
  background-image: url("../assets/images/project-2.png");
}

.js-media-player-card {
  background-image: url("../assets/images/project-3.png");
}

.clipboard-card {
  background-image: url("../assets/images/project-4.jpg");
}

.batatabit-card {
  background-image: url("../assets/images/project-5.png");
}

.about__section {
  padding-top: 86px;
}
.profile-card {
  overflow: hidden;
  width: 100%;
  text-align: center;
  height: 368px;
  border: none;
  .background-block {
    float: left;
    width: 100%;
    height: 200px;
    overflow: hidden;
    .background {
      width: 100%;
      vertical-align: top;
      opacity: 0.9;
      -webkit-filter: blur(0.5px);
      filter: blur(0.5px);
      -webkit-transform: scale(1.8);
      transform: scale(2.8);
    }
  }
  .card-content {
    width: 100%;
    padding: 15px 25px;
    color: #232323;
    float: left;
    background: #efefef;
    height: 50%;
    border-radius: 0 0 5px 5px;
    position: relative;
    z-index: 1;
  }
  .card-content::before {
    content: "";
    background: #efefef;
    width: 120%;
    height: 100%;
    left: 11px;
    bottom: 51px;
    position: absolute;
    z-index: -1;
    transform: rotate(-13deg);
  }
  .profile {
    border-radius: 50%;
    position: absolute;
    bottom: 50%;
    left: 50%;
    max-width: 100px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 1);
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    z-index: 2;
  }
  h2 {
    margin: 0 0 5px;
    font-weight: 600;
    font-size: 2.5rem;
    small {
      display: block;
      font-size: 1.5rem;
      margin-top: 10px;
    }
  }
  .icon-block {
    float: left;
    width: 100%;
    margin-top: 15px;
    a {
      text-decoration: none;
    }
  }
  i {
    display: inline-block;
    font-size: 1.6rem;
    color: $primary-color;
    text-align: center;
    border: 1px solid $primary-color;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin: 0 5px;
  }
  i:hover {
    background-color: $primary-color;
    color: #fff;
    text-decoration: none;
  }
}

.contact__section {
  padding-top: 86px;
}

footer {
  margin-top: 64px;
  background-color: #e9f9ff;
  .container {
    padding: 88px 16px;
    text-align: center;
    h1 {
      font-size: 3.8rem;
    }
    h2 {
      margin-bottom: 12px;
      font-size: 1.6rem;
    }
    i {
      display: block;
      margin-top: 24px;
      font-size: 4rem;
      color: #f66565;
    }
    a {
      display: block;
      margin-top: 24px;
      font-weight: 600;
    }
  }
}
